<br/>
<div class="container-fluid">
    <br/>
    <div class="row">
        
        <div class="col-md-12">
           <div class="card">
            <div class="card-header bg-light" style="text-align: center;">
                
                <input type="button"  value="PAY NOW" style="display: inline-block;width: 25%;" (click)="paynowaction()" class="btn btn-info" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>{{movie.totalpice|currency:"INR"}}</label></div>
            
           </div>
        </div>
       
    </div>
</div>