
<div class="container-fluid" *ngIf="!chk" id="sect2">
    <br/>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info">
                    Forgot Password
                </div>
                <div class="card-body">
                    <form [formGroup]="forgotform" (ngSubmit)="action()">
                        <label>Username/Email</label>
                        <input type="text" formControlName="email" class="form-control"/>
                        <br/>
                        <input type="submit" value="Next" class="btn btn-info" [disabled]="forgotform.invalid"/>
                        
                    </form>
                </div>
                <div class="card-footer" *ngIf="msgcheck">
                    <label style="color: red;">{{msg}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="chk" id="sect2">
    <br/>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info">
                    Forgot Password
                </div>
                <div class="card-body">
                    <form [formGroup]="changeform" (ngSubmit)="changeaction()">
                        <label>New Password</label>
                        <input type="text" formControlName="newpassword" class="form-control"/>
                        <br/>
                        <label>Conform Password</label>
                        <input type="text" formControlName="confirmpassword" class="form-control"/>
                        <br/>
                        <input type="submit" value="Change password" class="btn btn-info" [disabled]="changeform.invalid"/>
                    </form>
                </div>
                <div class="card-footer" *ngIf="changecheck">
                    <label style="color: red;" >{{changemsg}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
